@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    width: 160px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #7342d6;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid #7342d6;
    border-radius: 4px;
}